ehri-importers/src/main/resources/eac.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v2004 rel. 4 U (http://www.xmlspy.com) by Daniel Pitti (University of Virginia) -->
<!--W3C Schema generated by XMLSPY v2004 rel. 4 U (http://www.xmlspy.com)-->
<!-- downloaded from http://www3.iath.virginia.edu/eac/shared/eac/eac.xsd on 2013-03-17 -->
<xs:schema 
  xmlns:xs="http://www.w3.org/2001/XMLSchema" 
  elementFormDefault="qualified" 
  attributeFormDefault="unqualified"
  targetNamespace="http://jefferson.village.virginia.edu/eac" 
  xmlns="http://jefferson.village.virginia.edu/eac">

	<xs:element name="abbr">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="id" type="xs:ID"/>
					<xs:attribute name="expan" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="abstract">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="emph"/>
				<xs:element ref="lb"/>
				<xs:element ref="abbr"/>
				<xs:element ref="expan"/>
				<xs:element ref="ptr"/>
				<xs:element ref="extptr"/>
				<xs:element ref="ref"/>
				<xs:element ref="extref"/>
				<xs:element ref="bibref"/>
				<xs:element ref="title"/>
				<xs:element ref="archref"/>
				<xs:element ref="note"/>
			</xs:choice>
			<xs:attribute name="id" type="xs:ID"/>
			<xs:attribute name="ea" type="xs:NMTOKEN"/>
			<xs:attribute name="type" type="xs:string"/>
			<xs:attribute name="label" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="address">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="addressline" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:ID"/>
			<xs:attribute name="ea" type="xs:NMTOKEN"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="addressline">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="emph"/>
				<xs:element ref="lb"/>
				<xs:element ref="abbr"/>
				<xs:element ref="expan"/>
				<xs:element ref="ptr"/>
				<xs:element ref="extptr"/>
				<xs:element ref="extref"/>
				<xs:element ref="ref"/>
			</xs:choice>
			<xs:attribute name="id" type="xs:ID"/>
			<xs:attribute name="ea" type="xs:NMTOKEN"/>
			<xs:attribute name="type" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="altdate">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="emph"/>
				<xs:element ref="lb"/>
				<xs:element ref="abbr"/>
				<xs:element ref="expan"/>
			</xs:choice>
			<xs:attribute name="id" type="xs:ID"/>
			<xs:attribute name="ea" type="xs:NMTOKEN"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="archref">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="emph"/>
				<xs:element ref="lb"/>
				<xs:element ref="abbr"/>
				<xs:element ref="expan"/>
				<xs:element ref="ptr"/>
				<xs:element ref="extptr"/>
				<xs:element ref="bibref"/>
				<xs:element ref="ref"/>
				<xs:element ref="title"/>
				<xs:element ref="extref"/>
				<xs:element ref="abstract"/>
				<xs:element ref="physdesc"/>
				<xs:element ref="descnote"/>
				<xs:element ref="repository"/>
				<xs:element ref="origination"/>
				<xs:element ref="unitdate"/>
				<xs:element ref="unitid"/>
				<xs:element ref="unittitle"/>
				<xs:element ref="container"/>
				<xs:element ref="physloc"/>
				<xs:element ref="langmaterial"/>
				<xs:element ref="materialspec"/>
			</xs:choice>
			<xs:attribute name="id" type="xs:ID"/>
			<xs:attribute name="ea" type="xs:NMTOKEN"/>
			<xs:attribute name="targetout" type="xs:ENTITY"/>
			<xs:attribute name="linktype" fixed="simple">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="simple"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="href" type="xs:string"/>
			<xs:attribute name="role" type="xs:string"/>
			<xs:attribute name="arcrole" type="xs:string"/>
			<xs:attribute name="title" type="xs:string"/>
			<xs:attribute name="show">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="new"/>
						<xs:enumeration value="replace"/>
						<xs:enumeration value="embed"/>
						<xs:enumeration value="showother"/>
						<xs:enumeration value="shownone"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="actuate">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="onload"/>
						<xs:enumeration value="onrequest"/>
						<xs:enumeration value="actuateother"/>
						<xs:enumeration value="actuatenone"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="archunit">
		<xs:complexType>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:choice minOccurs="0" maxOccurs="unbounded">
					<xs:element ref="abstract"/>
					<xs:element ref="physdesc"/>
					<xs:element ref="descnote"/>
					<xs:element ref="repository"/>
					<xs:element ref="origination"/>
					<xs:element ref="unitdate"/>
					<xs:element ref="unitid"/>
					<xs:element ref="unittitle"/>
					<xs:element ref="container"/>
					<xs:element ref="physloc"/>
					<xs:element ref="langmaterial"/>
					<xs:element ref="materialspec"/>
				</xs:choice>
			</xs:choice>
			<xs:attribute name="id" type="xs:ID"/>
			<xs:attribute name="ea" type="xs:NMTOKEN"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="assetstruct">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="head" minOccurs="0"/>
				<xs:sequence>
					<xs:choice minOccurs="0" maxOccurs="unbounded">
						<xs:element ref="descentry"/>
					</xs:choice>
					<xs:choice minOccurs="0" maxOccurs="unbounded">
						<xs:element ref="address"/>
						<xs:element ref="chronlist"/>
						<xs:element ref="list"/>
						<xs:element ref="table"/>
						<xs:element ref="blockquote"/>
						<xs:element ref="p"/>
					</xs:choice>
				</xs:sequence>
			</xs:sequence>
			<xs:attribute name="id" type="xs:ID"/>
			<xs:attribute name="ea" type="xs:NMTOKEN"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="auth">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="emph"/>
				<xs:element ref="lb"/>
				<xs:element ref="abbr"/>
				<xs:element ref="expan"/>
			</xs:choice>
			<xs:attribute name="id" type="xs:ID"/>
			<xs:attribute name="ea" type="xs:NMTOKEN"/>
			<xs:attribute name="type">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="type"/>
						<xs:enumeration value="value"/>
						<xs:enumeration value="both"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="system" type="xs:ENTITY"/>
			<xs:attribute name="countrycode" type="xs:NMTOKEN"/>
			<xs:attribute name="ownercode" type="xs:NMTOKEN"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="authdecl">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="auth" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:ID"/>
			<xs:attribute name="ea" type="xs:NMTOKEN"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="bibref">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="emph"/>
				<xs:element ref="lb"/>
				<xs:element ref="abbr"/>
				<xs:element ref="expan"/>
				<xs:element ref="ptr"/>
				<xs:element ref="extptr"/>
				<xs:element ref="edition"/>
				<xs:element ref="imprint"/>
				<xs:element ref="name"/>
				<xs:element ref="num"/>
				<xs:element ref="bibseries"/>
				<xs:element ref="ref"/>
				<xs:element ref="title"/>
				<xs:element ref="famname"/>
				<xs:element ref="persname"/>
				<xs:element ref="corpname"/>
				<xs:element ref="extref"/>
				<xs:element ref="archref"/>
			</xs:choice>
			<xs:attribute name="id" type="xs:ID"/>
			<xs:attribute name="ea" type="xs:NMTOKEN"/>
			<xs:attribute name="targetout" type="xs:ENTITY"/>
			<xs:attribute name="linktype" fixed="simple">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="simple"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="href" type="xs:string"/>
			<xs:attribute name="role" type="xs:string"/>
			<xs:attribute name="arcrole" type="xs:string"/>
			<xs:attribute name="title" type="xs:string"/>
			<xs:attribute name="show">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="new"/>
						<xs:enumeration value="replace"/>
						<xs:enumeration value="embed"/>
						<xs:enumeration value="showother"/>
						<xs:enumeration value="shownone"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="actuate">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="onload"/>
						<xs:enumeration value="onrequest"/>
						<xs:enumeration value="actuateother"/>
						<xs:enumeration value="actuatenone"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="bibseries">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="emph"/>
				<xs:element ref="lb"/>
				<xs:element ref="abbr"/>
				<xs:element ref="expan"/>
				<xs:element ref="title"/>
				<xs:element ref="num"/>
			</xs:choice>
			<xs:attribute name="id" type="xs:ID"/>
			<xs:attribute name="ea" type="xs:NMTOKEN"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="bibunit">
		<xs:complexType mixed="true">
			<xs:sequence minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="name"/>
				<xs:element ref="title"/>
				<xs:element ref="edition"/>
				<xs:element ref="imprint"/>
				<xs:element ref="bibseries"/>
				<xs:element ref="descnote"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:ID"/>
			<xs:attribute name="ea" type="xs:NMTOKEN"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="bioghist">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="head" minOccurs="0"/>
				<xs:choice maxOccurs="unbounded">
					<xs:element ref="address"/>
					<xs:element ref="chronlist"/>
					<xs:element ref="list"/>
					<xs:element ref="table"/>
					<xs:element ref="blockquote"/>
					<xs:element ref="p"/>
					<xs:element ref="bioghist"/>
					<xs:element ref="didentifier"/>
				</xs:choice>
			</xs:sequence>
			<xs:attribute name="id" type="xs:ID"/>
			<xs:attribute name="ea" type="xs:NMTOKEN"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="blockquote">
		<xs:complexType>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:choice minOccurs="0" maxOccurs="unbounded">
					<xs:element ref="address"/>
					<xs:element ref="chronlist"/>
					<xs:element ref="list"/>
					<xs:element ref="table"/>
					<xs:element ref="p"/>
				</xs:choice>
			</xs:choice>
			<xs:attribute name="id" type="xs:ID"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="causa">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="head" minOccurs="0"/>
				<xs:sequence>
					<xs:element ref="descentry" minOccurs="0" maxOccurs="unbounded"/>
					<xs:choice minOccurs="0" maxOccurs="unbounded">
						<xs:element ref="address"/>
						<xs:element ref="chronlist"/>
						<xs:element ref="list"/>
						<xs:element ref="table"/>
						<xs:element ref="blockquote"/>
						<xs:element ref="p"/>
					</xs:choice>
				</xs:sequence>
			</xs:sequence>
			<xs:attribute name="id" type="xs:ID"/>
			<xs:attribute name="ea" type="xs:NMTOKEN"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="character">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="head" minOccurs="0"/>
				<xs:sequence>
					<xs:choice minOccurs="0" maxOccurs="unbounded">
						<xs:element ref="sex"/>
						<xs:element ref="descentry"/>
					</xs:choice>
					<xs:choice minOccurs="0" maxOccurs="unbounded">
						<xs:element ref="address"/>
						<xs:element ref="chronlist"/>
						<xs:element ref="list"/>
						<xs:element ref="table"/>
						<xs:element ref="blockquote"/>
						<xs:element ref="p"/>
					</xs:choice>
				</xs:sequence>
			</xs:sequence>
			<xs:attribute name="id" type="xs:ID"/>
			<xs:attribute name="ea" type="xs:NMTOKEN"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="chronhead">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="head01" minOccurs="0"/>
				<xs:element ref="head02" minOccurs="0"/>
				<xs:element ref="head03" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:ID"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="chronitem">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="date"/>
				<xs:element ref="place" minOccurs="0"/>
				<xs:choice>
					<xs:element ref="event"/>
					<xs:element ref="eventgrp"/>
				</xs:choice>
			</xs:sequence>
			<xs:attribute name="id" type="xs:ID"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="chronlist">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="head" minOccurs="0"/>
				<xs:choice minOccurs="0">
					<xs:element ref="chronhead"/>
				</xs:choice>
				<xs:choice maxOccurs="unbounded">
					<xs:element ref="chronitem"/>
				</xs:choice>
			</xs:sequence>
			<xs:attribute name="id" type="xs:ID"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="colspec">
		<xs:complexType>
			<xs:attribute name="colnum" type="xs:NMTOKEN"/>
			<xs:attribute name="colname" type="xs:NMTOKEN"/>
			<xs:attribute name="colwidth" type="xs:string"/>
			<xs:attribute name="colsep" type="xs:NMTOKEN"/>
			<xs:attribute name="rowsep" type="xs:NMTOKEN"/>
			<xs:attribute name="align">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="left"/>
						<xs:enumeration value="right"/>
						<xs:enumeration value="center"/>
						<xs:enumeration value="justify"/>
						<xs:enumeration value="char"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="char" type="xs:string"/>
			<xs:attribute name="charoff" type="xs:NMTOKEN"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="condesc">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="head" minOccurs="0"/>
				<xs:sequence>
					<xs:element ref="identity"/>
					<xs:element ref="desc" minOccurs="0"/>
					<xs:element ref="eacrels" minOccurs="0"/>
					<xs:element ref="resourcerels" minOccurs="0"/>
					<xs:element ref="funactrels" minOccurs="0"/>
				</xs:sequence>
			</xs:sequence>
			<xs:attribute name="id" type="xs:ID"/>
			<xs:attribute name="ea" type="xs:NMTOKEN"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="container">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="emph"/>
				<xs:element ref="lb"/>
				<xs:element ref="abbr"/>
				<xs:element ref="expan"/>
				<xs:element ref="ptr"/>
				<xs:element ref="extptr"/>
				<xs:element ref="ref"/>
				<xs:element ref="extref"/>
				<xs:element ref="bibref"/>
				<xs:element ref="title"/>
				<xs:element ref="archref"/>
				<xs:element ref="note"/>
			</xs:choice>
			<xs:attribute name="id" type="xs:ID"/>
			<xs:attribute name="ea" type="xs:NMTOKEN"/>
			<xs:attribute name="type" type="xs:string"/>
			<xs:attribute name="label" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="corpdesc">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="head" minOccurs="0"/>
				<xs:sequence>
					<xs:element ref="existdesc" minOccurs="0"/>
					<xs:choice minOccurs="0" maxOccurs="unbounded">
						<xs:element ref="corptype"/>
						<xs:element ref="legalstatus"/>
						<xs:element ref="location"/>
						<xs:element ref="descentry"/>
					</xs:choice>
					<xs:choice minOccurs="0" maxOccurs="unbounded">
						<xs:element ref="locations"/>
						<xs:element ref="causa"/>
						<xs:element ref="funactdesc"/>
						<xs:element ref="assetstruct"/>
						<xs:element ref="env"/>
						<xs:element ref="ocd"/>
					</xs:choice>
				</xs:sequence>
			</xs:sequence>
			<xs:attribute name="id" type="xs:ID"/>
			<xs:attribute name="ea" type="xs:NMTOKEN"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="corpgrp">
		<xs:complexType>
			<xs:sequence>
				<xs:sequence>
					<xs:element ref="corphead"/>
					<xs:element ref="corphead" maxOccurs="unbounded"/>
				</xs:sequence>
				<xs:element ref="nameadds" minOccurs="0" maxOccurs="unbounded"/>
				<xs:choice minOccurs="0">
					<xs:element ref="sourceref"/>
					<xs:element ref="sourcerefs"/>
				</xs:choice>
				<xs:choice minOccurs="0">
					<xs:element ref="descnote"/>
					<xs:element ref="descnotes"/>
				</xs:choice>
			</xs:sequence>
			<xs:attribute name="id" type="xs:ID"/>
			<xs:attribute name="ea" type="xs:NMTOKEN"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="corphead">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="part" maxOccurs="unbounded"/>
				<xs:sequence>
					<xs:choice minOccurs="0" maxOccurs="unbounded">
						<xs:element ref="existdate"/>
						<xs:element ref="place"/>
						<xs:element ref="nameadd"/>
					</xs:choice>
					<xs:element ref="usedate" minOccurs="0"/>
					<xs:choice minOccurs="0">
						<xs:element ref="sourceref"/>
						<xs:element ref="sourcerefs"/>
					</xs:choice>
					<xs:choice minOccurs="0">
						<xs:element ref="descnote"/>
						<xs:element ref="descnotes"/>
					</xs:choice>
				</xs:sequence>
			</xs:sequence>
			<xs:attribute name="id" type="xs:ID"/>
			<xs:attribute name="ea" type="xs:NMTOKEN"/>
			<xs:attribute name="rule" type="xs:IDREF"/>
			<xs:attribute name="authorized" type="xs:string"/>
			<xs:attribute name="languagecode" type="xs:NMTOKEN"/>
			<xs:attribute name="scriptcode" type="xs:NMTOKEN"/>
			<xs:attribute name="type" type="xs:string"/>
			<xs:attribute name="typeauth" type="xs:IDREF"/>
			<xs:attribute name="typekey" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="corpname">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="emph"/>
				<xs:element ref="lb"/>
				<xs:element ref="abbr"/>
				<xs:element ref="expan"/>
			</xs:choice>
			<xs:attribute name="id" type="xs:ID"/>
			<xs:attribute name="ea" type="xs:NMTOKEN"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="corptype">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="value"/>
				<xs:element ref="date" minOccurs="0"/>
				<xs:element ref="place" minOccurs="0"/>
				<xs:choice minOccurs="0" maxOccurs="unbounded">
					<xs:element ref="descnote"/>
					<xs:element ref="sourceref"/>
				</xs:choice>
			</xs:sequence>
			<xs:attribute name="id" type="xs:ID"/>
			<xs:attribute name="ea" type="xs:NMTOKEN"/>
			<xs:attribute name="type" type="xs:string"/>
			<xs:attribute name="typeauth" type="xs:IDREF"/>
			<xs:attribute name="typekey" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="date">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="emph"/>
				<xs:element ref="lb"/>
				<xs:element ref="abbr"/>
				<xs:element ref="expan"/>
				<xs:element ref="altdate"/>
			</xs:choice>
			<xs:attribute name="id" type="xs:ID"/>
			<xs:attribute name="ea" type="xs:NMTOKEN"/>
			<xs:attribute name="scope">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="begin"/>
						<xs:enumeration value="end"/>
						<xs:enumeration value="active"/>
						<xs:enumeration value="begin-end"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="form">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="single"/>
						<xs:enumeration value="closedspan"/>
						<xs:enumeration value="openspan"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="era" type="xs:string"/>
			<xs:attribute name="calendar" type="xs:string"/>
			<xs:attribute name="normal" type="xs:string"/>
			<xs:attribute name="type" type="xs:string"/>
			<xs:attribute name="typeauth" type="xs:IDREF"/>
			<xs:attribute name="typekey" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="desc">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="head" minOccurs="0"/>
				<xs:sequence>
					<xs:choice minOccurs="0">
						<xs:element ref="corpdesc"/>
						<xs:element ref="persdesc"/>
						<xs:element ref="famdesc"/>
					</xs:choice>
					<xs:choice minOccurs="0" maxOccurs="unbounded">
						<xs:element ref="bioghist"/>
						<xs:element ref="ocd"/>
					</xs:choice>
				</xs:sequence>
			</xs:sequence>
			<xs:attribute name="id" type="xs:ID"/>
			<xs:attribute name="ea" type="xs:NMTOKEN"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="descentry">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="value"/>
				<xs:element ref="date" minOccurs="0"/>
				<xs:element ref="place" minOccurs="0"/>
				<xs:choice minOccurs="0" maxOccurs="unbounded">
					<xs:element ref="descnote"/>
					<xs:element ref="sourceref"/>
				</xs:choice>
			</xs:sequence>
			<xs:attribute name="id" type="xs:ID"/>
			<xs:attribute name="ea" type="xs:NMTOKEN"/>
			<xs:attribute name="type" type="xs:string"/>
			<xs:attribute name="typeauth" type="xs:IDREF"/>
			<xs:attribute name="typekey" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="descnote">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="emph"/>
				<xs:element ref="lb"/>
				<xs:element ref="abbr"/>
				<xs:element ref="expan"/>
				<xs:element ref="ptr"/>
				<xs:element ref="extptr"/>
				<xs:element ref="corpname"/>
				<xs:element ref="famname"/>
				<xs:element ref="persname"/>
				<xs:element ref="funact"/>
				<xs:element ref="subject"/>
				<xs:element ref="genreform"/>
				<xs:element ref="date"/>
				<xs:element ref="num"/>
				<xs:element ref="place"/>
				<xs:element ref="ref"/>
				<xs:element ref="extref"/>
				<xs:element ref="bibref"/>
				<xs:element ref="title"/>
				<xs:element ref="archref"/>
				<xs:element ref="note"/>
				<xs:element ref="address"/>
				<xs:element ref="chronlist"/>
				<xs:element ref="list"/>
				<xs:element ref="table"/>
				<xs:element ref="blockquote"/>
			</xs:choice>
			<xs:attribute name="id" type="xs:ID"/>
			<xs:attribute name="ea" type="xs:NMTOKEN"/>
			<xs:attribute name="type" type="xs:string"/>
			<xs:attribute name="typeauth" type="xs:IDREF"/>
			<xs:attribute name="typekey" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="descnotes">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="head" minOccurs="0"/>
				<xs:element ref="descnote"/>
				<xs:element ref="descnote" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:ID"/>
			<xs:attribute name="ea" type="xs:NMTOKEN"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="didentifier">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="emph"/>
				<xs:element ref="lb"/>
				<xs:element ref="abbr"/>
				<xs:element ref="expan"/>
			</xs:choice>
			<xs:attribute name="id" type="xs:ID"/>
			<xs:attribute name="ea" type="xs:NMTOKEN"/>
			<xs:attribute name="targetout" type="xs:ENTITY"/>
			<xs:attribute name="linktype" fixed="simple">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="simple"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="href" type="xs:string"/>
			<xs:attribute name="role" type="xs:string"/>
			<xs:attribute name="arcrole" type="xs:string"/>
			<xs:attribute name="title" type="xs:string"/>
			<xs:attribute name="show">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="new"/>
						<xs:enumeration value="replace"/>
						<xs:enumeration value="embed"/>
						<xs:enumeration value="showother"/>
						<xs:enumeration value="shownone"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="actuate">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="onload"/>
						<xs:enumeration value="onrequest"/>
						<xs:enumeration value="actuateother"/>
						<xs:enumeration value="actuatenone"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="dimensions">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="emph"/>
				<xs:element ref="lb"/>
				<xs:element ref="abbr"/>
				<xs:element ref="expan"/>
				<xs:element ref="ptr"/>
				<xs:element ref="extptr"/>
				<xs:element ref="ref"/>
				<xs:element ref="extref"/>
				<xs:element ref="bibref"/>
				<xs:element ref="title"/>
				<xs:element ref="archref"/>
				<xs:element ref="note"/>
				<xs:element ref="dimensions"/>
			</xs:choice>
			<xs:attribute name="id" type="xs:ID"/>
			<xs:attribute name="ea" type="xs:NMTOKEN"/>
			<xs:attribute name="type" type="xs:string"/>
			<xs:attribute name="unit" type="xs:string"/>
			<xs:attribute name="label" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="eac">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="eacheader"/>
				<xs:element ref="condesc"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:ID"/>
			<xs:attribute name="ea" type="xs:NMTOKEN"/>
			<xs:attribute name="type" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="corpname"/>
						<xs:enumeration value="persname"/>
						<xs:enumeration value="famname"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="eacheader">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="eacid"/>
				<xs:element ref="mainhist"/>
				<xs:element ref="languagedecl" minOccurs="0"/>
				<xs:element ref="ruledecl" minOccurs="0"/>
				<xs:element ref="sourcedecl" minOccurs="0"/>
				<xs:element ref="authdecl" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:ID"/>
			<xs:attribute name="ea" type="xs:NMTOKEN"/>
			<xs:attribute name="status" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="draft"/>
						<xs:enumeration value="edited"/>
						<xs:enumeration value="deleted"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="langencoding" type="xs:NMTOKEN" default="iso639-2b"/>
			<xs:attribute name="scriptencoding" type="xs:NMTOKEN" default="iso15924"/>
			<xs:attribute name="dateencoding" type="xs:NMTOKEN" default="iso8601"/>
			<xs:attribute name="countryencoding" type="xs:NMTOKEN" default="iso3166-1"/>
			<xs:attribute name="ownerencoding" type="xs:NMTOKEN" default="iso15511"/>
			<xs:attribute name="encodinganalogsys" type="xs:NMTOKEN"/>
			<xs:attribute name="detaillevel">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="minimal"/>
						<xs:enumeration value="partial"/>
						<xs:enumeration value="full"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="type" type="xs:string"/>
			<xs:attribute name="typeauth" type="xs:IDREF"/>
			<xs:attribute name="typekey" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="eacid">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="id" type="xs:ID"/>
					<xs:attribute name="ea" type="xs:NMTOKEN"/>
					<xs:attribute name="syskey" type="xs:string"/>
					<xs:attribute name="system" type="xs:ENTITY"/>
					<xs:attribute name="countrycode" type="xs:NMTOKEN"/>
					<xs:attribute name="ownercode" type="xs:NMTOKEN"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="eacrel">
		<xs:complexType>
			<xs:sequence>
				<xs:choice>
					<xs:element ref="persname"/>
					<xs:element ref="corpname"/>
					<xs:element ref="famname"/>
				</xs:choice>
				<xs:sequence>
					<xs:element ref="date" minOccurs="0"/>
					<xs:element ref="place" minOccurs="0"/>
					<xs:choice minOccurs="0">
						<xs:element ref="descnote"/>
						<xs:element ref="descnotes"/>
					</xs:choice>
					<xs:element ref="source" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:sequence>
			<xs:attribute name="id" type="xs:ID"/>
			<xs:attribute name="ea" type="xs:NMTOKEN"/>
			<xs:attribute name="reltype">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="superior"/>
						<xs:enumeration value="subordinate"/>
						<xs:enumeration value="earlier"/>
						<xs:enumeration value="later"/>
						<xs:enumeration value="associative"/>
						<xs:enumeration value="parent"/>
						<xs:enumeration value="child"/>
						<xs:enumeration value="identity"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="syskey" type="xs:string"/>
			<xs:attribute name="system" type="xs:ENTITY"/>
			<xs:attribute name="countrycode" type="xs:NMTOKEN"/>
			<xs:attribute name="ownercode" type="xs:NMTOKEN"/>
			<xs:attribute name="type" type="xs:string"/>
			<xs:attribute name="typeauth" type="xs:IDREF"/>
			<xs:attribute name="typekey" type="xs:string"/>
			<xs:attribute name="rule" type="xs:IDREF"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="eacrels">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="head" minOccurs="0"/>
				<xs:element ref="eacrel" maxOccurs="unbounded"/>
				<xs:choice minOccurs="0">
					<xs:element ref="sourceref"/>
					<xs:element ref="sourcerefs"/>
				</xs:choice>
				<xs:choice minOccurs="0">
					<xs:element ref="descnote"/>
					<xs:element ref="descnotes"/>
				</xs:choice>
			</xs:sequence>
			<xs:attribute name="id" type="xs:ID"/>
			<xs:attribute name="ea" type="xs:NMTOKEN"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="edition">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="emph"/>
				<xs:element ref="lb"/>
				<xs:element ref="abbr"/>
				<xs:element ref="expan"/>
			</xs:choice>
			<xs:attribute name="id" type="xs:ID"/>
			<xs:attribute name="ea" type="xs:NMTOKEN"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="emph">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="emph"/>
				<xs:element ref="lb"/>
				<xs:element ref="abbr"/>
				<xs:element ref="expan"/>
			</xs:choice>
			<xs:attribute name="id" type="xs:ID"/>
			<xs:attribute name="render">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="bold"/>
						<xs:enumeration value="italic"/>
						<xs:enumeration value="bolditalic"/>
						<xs:enumeration value="boldunderline"/>
						<xs:enumeration value="boldsmcaps"/>
						<xs:enumeration value="boldquoted"/>
						<xs:enumeration value="nonproport"/>
						<xs:enumeration value="altrender"/>
						<xs:enumeration value="quoted"/>
						<xs:enumeration value="smcaps"/>
						<xs:enumeration value="sub"/>
						<xs:enumeration value="super"/>
						<xs:enumeration value="underline"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="entry">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="emph"/>
				<xs:element ref="lb"/>
				<xs:element ref="abbr"/>
				<xs:element ref="expan"/>
				<xs:element ref="ptr"/>
				<xs:element ref="extptr"/>
				<xs:element ref="corpname"/>
				<xs:element ref="famname"/>
				<xs:element ref="persname"/>
				<xs:element ref="funact"/>
				<xs:element ref="subject"/>
				<xs:element ref="genreform"/>
				<xs:element ref="date"/>
				<xs:element ref="num"/>
				<xs:element ref="place"/>
				<xs:element ref="ref"/>
				<xs:element ref="extref"/>
				<xs:element ref="bibref"/>
				<xs:element ref="title"/>
				<xs:element ref="archref"/>
				<xs:element ref="note"/>
				<xs:element ref="address"/>
				<xs:element ref="list"/>
			</xs:choice>
			<xs:attribute name="id" type="xs:ID"/>
			<xs:attribute name="colname" type="xs:NMTOKEN"/>
			<xs:attribute name="namest" type="xs:NMTOKEN"/>
			<xs:attribute name="nameend" type="xs:NMTOKEN"/>
			<xs:attribute name="morerows" type="xs:NMTOKEN"/>
			<xs:attribute name="colsep" type="xs:NMTOKEN"/>
			<xs:attribute name="rowsep" type="xs:NMTOKEN"/>
			<xs:attribute name="align">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="left"/>
						<xs:enumeration value="right"/>
						<xs:enumeration value="center"/>
						<xs:enumeration value="justify"/>
						<xs:enumeration value="char"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="char" type="xs:string"/>
			<xs:attribute name="charoff" type="xs:NMTOKEN"/>
			<xs:attribute name="valign">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="top"/>
						<xs:enumeration value="middle"/>
						<xs:enumeration value="bottom"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="env">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="head" minOccurs="0"/>
				<xs:sequence>
					<xs:choice minOccurs="0" maxOccurs="unbounded">
						<xs:element ref="descentry"/>
					</xs:choice>
					<xs:choice minOccurs="0" maxOccurs="unbounded">
						<xs:element ref="address"/>
						<xs:element ref="chronlist"/>
						<xs:element ref="list"/>
						<xs:element ref="table"/>
						<xs:element ref="blockquote"/>
						<xs:element ref="p"/>
					</xs:choice>
				</xs:sequence>
			</xs:sequence>
			<xs:attribute name="id" type="xs:ID"/>
			<xs:attribute name="ea" type="xs:NMTOKEN"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="event">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="emph"/>
				<xs:element ref="lb"/>
				<xs:element ref="abbr"/>
				<xs:element ref="expan"/>
				<xs:element ref="ptr"/>
				<xs:element ref="extptr"/>
				<xs:element ref="corpname"/>
				<xs:element ref="famname"/>
				<xs:element ref="persname"/>
				<xs:element ref="funact"/>
				<xs:element ref="subject"/>
				<xs:element ref="genreform"/>
				<xs:element ref="date"/>
				<xs:element ref="num"/>
				<xs:element ref="place"/>
				<xs:element ref="ref"/>
				<xs:element ref="extref"/>
				<xs:element ref="bibref"/>
				<xs:element ref="title"/>
				<xs:element ref="archref"/>
				<xs:element ref="note"/>
				<xs:element ref="address"/>
				<xs:element ref="chronlist"/>
				<xs:element ref="list"/>
				<xs:element ref="table"/>
				<xs:element ref="blockquote"/>
			</xs:choice>
			<xs:attribute name="id" type="xs:ID"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="eventgrp">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="event" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:ID"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="existdate">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="emph"/>
				<xs:element ref="lb"/>
				<xs:element ref="abbr"/>
				<xs:element ref="expan"/>
				<xs:element ref="altdate"/>
			</xs:choice>
			<xs:attribute name="id" type="xs:ID"/>
			<xs:attribute name="ea" type="xs:NMTOKEN"/>
			<xs:attribute name="scope">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="begin"/>
						<xs:enumeration value="end"/>
						<xs:enumeration value="active"/>
						<xs:enumeration value="begin-end"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="form">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="single"/>
						<xs:enumeration value="closedspan"/>
						<xs:enumeration value="openspan"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="era" type="xs:string"/>
			<xs:attribute name="calendar" type="xs:string"/>
			<xs:attribute name="normal" type="xs:string"/>
			<xs:attribute name="type" type="xs:string"/>
			<xs:attribute name="typeauth" type="xs:IDREF"/>
			<xs:attribute name="typekey" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="existdesc">
		<xs:complexType>
			<xs:sequence>
				<xs:sequence minOccurs="0" maxOccurs="unbounded">
					<xs:element ref="existdate"/>
					<xs:element ref="place" minOccurs="0"/>
				</xs:sequence>
				<xs:choice minOccurs="0" maxOccurs="unbounded">
					<xs:element ref="descnote"/>
					<xs:element ref="sourceref"/>
				</xs:choice>
			</xs:sequence>
			<xs:attribute name="id" type="xs:ID"/>
			<xs:attribute name="ea" type="xs:NMTOKEN"/>
			<xs:attribute name="type" type="xs:string"/>
			<xs:attribute name="typeauth" type="xs:IDREF"/>
			<xs:attribute name="typekey" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="expan">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="id" type="xs:ID"/>
					<xs:attribute name="abbr" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="extent">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="emph"/>
				<xs:element ref="lb"/>
				<xs:element ref="abbr"/>
				<xs:element ref="expan"/>
				<xs:element ref="ptr"/>
				<xs:element ref="extptr"/>
				<xs:element ref="ref"/>
				<xs:element ref="extref"/>
				<xs:element ref="bibref"/>
				<xs:element ref="title"/>
				<xs:element ref="archref"/>
				<xs:element ref="note"/>
			</xs:choice>
			<xs:attribute name="id" type="xs:ID"/>
			<xs:attribute name="ea" type="xs:NMTOKEN"/>
			<xs:attribute name="type" type="xs:string"/>
			<xs:attribute name="unit" type="xs:string"/>
			<xs:attribute name="label" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="extptr">
		<xs:complexType>
			<xs:attribute name="targetout" type="xs:ENTITY"/>
			<xs:attribute name="linktype" fixed="simple">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="simple"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="href" type="xs:string"/>
			<xs:attribute name="role" type="xs:string"/>
			<xs:attribute name="arcrole" type="xs:string"/>
			<xs:attribute name="title" type="xs:string"/>
			<xs:attribute name="show">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="new"/>
						<xs:enumeration value="replace"/>
						<xs:enumeration value="embed"/>
						<xs:enumeration value="showother"/>
						<xs:enumeration value="shownone"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="actuate">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="onload"/>
						<xs:enumeration value="onrequest"/>
						<xs:enumeration value="actuateother"/>
						<xs:enumeration value="actuatenone"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="ea" type="xs:NMTOKEN"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="extref">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="emph"/>
				<xs:element ref="lb"/>
				<xs:element ref="abbr"/>
				<xs:element ref="expan"/>
				<xs:element ref="ptr"/>
				<xs:element ref="extptr"/>
				<xs:element ref="corpname"/>
				<xs:element ref="famname"/>
				<xs:element ref="persname"/>
				<xs:element ref="funact"/>
				<xs:element ref="subject"/>
				<xs:element ref="genreform"/>
				<xs:element ref="date"/>
				<xs:element ref="num"/>
				<xs:element ref="place"/>
				<xs:element ref="address"/>
				<xs:element ref="chronlist"/>
				<xs:element ref="list"/>
				<xs:element ref="table"/>
				<xs:element ref="bibref"/>
				<xs:element ref="title"/>
				<xs:element ref="extref"/>
				<xs:element ref="archref"/>
			</xs:choice>
			<xs:attribute name="targetout" type="xs:ENTITY"/>
			<xs:attribute name="linktype" fixed="simple">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="simple"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="href" type="xs:string"/>
			<xs:attribute name="role" type="xs:string"/>
			<xs:attribute name="arcrole" type="xs:string"/>
			<xs:attribute name="title" type="xs:string"/>
			<xs:attribute name="show">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="new"/>
						<xs:enumeration value="replace"/>
						<xs:enumeration value="embed"/>
						<xs:enumeration value="showother"/>
						<xs:enumeration value="shownone"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="actuate">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="onload"/>
						<xs:enumeration value="onrequest"/>
						<xs:enumeration value="actuateother"/>
						<xs:enumeration value="actuatenone"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="ea" type="xs:NMTOKEN"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="famdesc">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="head" minOccurs="0"/>
				<xs:sequence>
					<xs:element ref="existdesc" minOccurs="0"/>
					<xs:choice minOccurs="0" maxOccurs="unbounded">
						<xs:element ref="legalstatus"/>
						<xs:element ref="location"/>
						<xs:element ref="descentry"/>
					</xs:choice>
					<xs:choice minOccurs="0" maxOccurs="unbounded">
						<xs:element ref="locations"/>
						<xs:element ref="funactdesc"/>
						<xs:element ref="assetstruct"/>
						<xs:element ref="env"/>
						<xs:element ref="ocd"/>
					</xs:choice>
				</xs:sequence>
			</xs:sequence>
			<xs:attribute name="id" type="xs:ID"/>
			<xs:attribute name="ea" type="xs:NMTOKEN"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="famgrp">
		<xs:complexType>
			<xs:sequence>
				<xs:sequence>
					<xs:element ref="famhead"/>
					<xs:element ref="famhead" maxOccurs="unbounded"/>
				</xs:sequence>
				<xs:element ref="nameadds" minOccurs="0" maxOccurs="unbounded"/>
				<xs:choice minOccurs="0">
					<xs:element ref="sourceref"/>
					<xs:element ref="sourcerefs"/>
				</xs:choice>
				<xs:choice minOccurs="0">
					<xs:element ref="descnote"/>
					<xs:element ref="descnotes"/>
				</xs:choice>
			</xs:sequence>
			<xs:attribute name="id" type="xs:ID"/>
			<xs:attribute name="ea" type="xs:NMTOKEN"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="famhead">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="part" maxOccurs="unbounded"/>
				<xs:sequence>
					<xs:choice minOccurs="0" maxOccurs="unbounded">
						<xs:element ref="existdate"/>
						<xs:element ref="place"/>
						<xs:element ref="nameadd"/>
					</xs:choice>
					<xs:element ref="usedate" minOccurs="0"/>
					<xs:choice minOccurs="0">
						<xs:element ref="sourceref"/>
						<xs:element ref="sourcerefs"/>
					</xs:choice>
					<xs:choice minOccurs="0">
						<xs:element ref="descnote"/>
						<xs:element ref="descnotes"/>
					</xs:choice>
				</xs:sequence>
			</xs:sequence>
			<xs:attribute name="id" type="xs:ID"/>
			<xs:attribute name="ea" type="xs:NMTOKEN"/>
			<xs:attribute name="rule" type="xs:IDREF"/>
			<xs:attribute name="authorized" type="xs:string"/>
			<xs:attribute name="languagecode" type="xs:NMTOKEN"/>
			<xs:attribute name="scriptcode" type="xs:NMTOKEN"/>
			<xs:attribute name="type" type="xs:string"/>
			<xs:attribute name="typeauth" type="xs:IDREF"/>
			<xs:attribute name="typekey" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="famname">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="emph"/>
				<xs:element ref="lb"/>
				<xs:element ref="abbr"/>
				<xs:element ref="expan"/>
			</xs:choice>
			<xs:attribute name="id" type="xs:ID"/>
			<xs:attribute name="ea" type="xs:NMTOKEN"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="funact">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="ignore"/>
				<xs:element ref="part"/>
				<xs:element ref="emph"/>
				<xs:element ref="lb"/>
				<xs:element ref="abbr"/>
				<xs:element ref="expan"/>
			</xs:choice>
			<xs:attribute name="id" type="xs:ID"/>
			<xs:attribute name="ea" type="xs:NMTOKEN"/>
			<xs:attribute name="type" type="xs:string"/>
			<xs:attribute name="typeauth" type="xs:IDREF"/>
			<xs:attribute name="typekey" type="xs:string"/>
			<xs:attribute name="valueauth" type="xs:IDREF"/>
			<xs:attribute name="valuekey" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="funactdesc">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="head" minOccurs="0"/>
				<xs:sequence>
					<xs:choice minOccurs="0" maxOccurs="unbounded">
						<xs:element ref="descentry"/>
					</xs:choice>
					<xs:choice minOccurs="0" maxOccurs="unbounded">
						<xs:element ref="address"/>
						<xs:element ref="chronlist"/>
						<xs:element ref="list"/>
						<xs:element ref="table"/>
						<xs:element ref="blockquote"/>
						<xs:element ref="p"/>
					</xs:choice>
				</xs:sequence>
			</xs:sequence>
			<xs:attribute name="id" type="xs:ID"/>
			<xs:attribute name="ea" type="xs:NMTOKEN"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="funactrel">
		<xs:complexType>
			<xs:sequence>
				<xs:choice>
					<xs:element ref="funact"/>
				</xs:choice>
				<xs:sequence>
					<xs:element ref="date" minOccurs="0"/>
					<xs:element ref="place" minOccurs="0"/>
					<xs:choice minOccurs="0">
						<xs:element ref="descnote"/>
						<xs:element ref="descnotes"/>
					</xs:choice>
					<xs:element ref="source" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:sequence>
			<xs:attribute name="id" type="xs:ID"/>
			<xs:attribute name="ea" type="xs:NMTOKEN"/>
			<xs:attribute name="reltype" type="xs:string"/>
			<xs:attribute name="syskey" type="xs:string"/>
			<xs:attribute name="system" type="xs:ENTITY"/>
			<xs:attribute name="countrycode" type="xs:NMTOKEN"/>
			<xs:attribute name="ownercode" type="xs:NMTOKEN"/>
			<xs:attribute name="type" type="xs:string"/>
			<xs:attribute name="typeauth" type="xs:IDREF"/>
			<xs:attribute name="typekey" type="xs:string"/>
			<xs:attribute name="rule" type="xs:IDREF"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="funactrels">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="head" minOccurs="0"/>
				<xs:element ref="funactrel" maxOccurs="unbounded"/>
				<xs:choice minOccurs="0">
					<xs:element ref="sourceref"/>
					<xs:element ref="sourcerefs"/>
				</xs:choice>
				<xs:choice minOccurs="0">
					<xs:element ref="descnote"/>
					<xs:element ref="descnotes"/>
				</xs:choice>
			</xs:sequence>
			<xs:attribute name="id" type="xs:ID"/>
			<xs:attribute name="ea" type="xs:NMTOKEN"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="genreform">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="ignore"/>
				<xs:element ref="part"/>
				<xs:element ref="emph"/>
				<xs:element ref="lb"/>
				<xs:element ref="abbr"/>
				<xs:element ref="expan"/>
			</xs:choice>
			<xs:attribute name="id" type="xs:ID"/>
			<xs:attribute name="ea" type="xs:NMTOKEN"/>
			<xs:attribute name="type" type="xs:string"/>
			<xs:attribute name="typeauth" type="xs:IDREF"/>
			<xs:attribute name="typekey" type="xs:string"/>
			<xs:attribute name="valueauth" type="xs:IDREF"/>
			<xs:attribute name="valuekey" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="head">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="emph"/>
				<xs:element ref="lb"/>
				<xs:element ref="abbr"/>
				<xs:element ref="expan"/>
			</xs:choice>
			<xs:attribute name="id" type="xs:ID"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="head01">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="emph"/>
				<xs:element ref="lb"/>
				<xs:element ref="abbr"/>
				<xs:element ref="expan"/>
				<xs:element ref="ptr"/>
				<xs:element ref="extptr"/>
			</xs:choice>
			<xs:attribute name="id" type="xs:ID"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="head02">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="emph"/>
				<xs:element ref="lb"/>
				<xs:element ref="abbr"/>
				<xs:element ref="expan"/>
				<xs:element ref="ptr"/>
				<xs:element ref="extptr"/>
			</xs:choice>
			<xs:attribute name="id" type="xs:ID"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="head03">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="emph"/>
				<xs:element ref="lb"/>
				<xs:element ref="abbr"/>
				<xs:element ref="expan"/>
				<xs:element ref="ptr"/>
				<xs:element ref="extptr"/>
			</xs:choice>
			<xs:attribute name="id" type="xs:ID"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="identity">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="head" minOccurs="0"/>
				<xs:sequence>
					<xs:element ref="legalid" minOccurs="0" maxOccurs="unbounded"/>
					<xs:choice>
						<xs:choice maxOccurs="unbounded">
							<xs:element ref="persgrp"/>
							<xs:element ref="pershead"/>
						</xs:choice>
						<xs:choice maxOccurs="unbounded">
							<xs:element ref="corpgrp"/>
							<xs:element ref="corphead"/>
						</xs:choice>
						<xs:choice maxOccurs="unbounded">
							<xs:element ref="famgrp"/>
							<xs:element ref="famhead"/>
						</xs:choice>
					</xs:choice>
					<xs:element ref="nameadds" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element ref="didentifier" minOccurs="0" maxOccurs="unbounded"/>
					<xs:sequence>
						<xs:choice minOccurs="0">
							<xs:element ref="sourceref"/>
							<xs:element ref="sourcerefs"/>
						</xs:choice>
						<xs:choice minOccurs="0">
							<xs:element ref="descnote"/>
							<xs:element ref="descnotes"/>
						</xs:choice>
					</xs:sequence>
				</xs:sequence>
			</xs:sequence>
			<xs:attribute name="id" type="xs:ID"/>
			<xs:attribute name="ea" type="xs:NMTOKEN"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="ignore">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="emph"/>
				<xs:element ref="lb"/>
				<xs:element ref="abbr"/>
				<xs:element ref="expan"/>
			</xs:choice>
			<xs:attribute name="id" type="xs:ID"/>
			<xs:attribute name="ea" type="xs:NMTOKEN"/>
			<xs:attribute name="type">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="i"/>
						<xs:enumeration value="s"/>
						<xs:enumeration value="d"/>
						<xs:enumeration value="di"/>
						<xs:enumeration value="is"/>
						<xs:enumeration value="ds"/>
						<xs:enumeration value="all"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="authorized" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="imprint">
		<xs:complexType>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="place"/>
				<xs:element ref="publisher"/>
				<xs:element ref="date"/>
			</xs:choice>
			<xs:attribute name="id" type="xs:ID"/>
			<xs:attribute name="ea" type="xs:NMTOKEN"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="item">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="emph"/>
				<xs:element ref="lb"/>
				<xs:element ref="abbr"/>
				<xs:element ref="expan"/>
				<xs:element ref="ptr"/>
				<xs:element ref="extptr"/>
				<xs:element ref="corpname"/>
				<xs:element ref="famname"/>
				<xs:element ref="persname"/>
				<xs:element ref="funact"/>
				<xs:element ref="subject"/>
				<xs:element ref="genreform"/>
				<xs:element ref="date"/>
				<xs:element ref="num"/>
				<xs:element ref="place"/>
				<xs:element ref="ref"/>
				<xs:element ref="extref"/>
				<xs:element ref="bibref"/>
				<xs:element ref="title"/>
				<xs:element ref="archref"/>
				<xs:element ref="note"/>
				<xs:element ref="address"/>
				<xs:element ref="chronlist"/>
				<xs:element ref="list"/>
				<xs:element ref="table"/>
				<xs:element ref="blockquote"/>
			</xs:choice>
			<xs:attribute name="id" type="xs:ID"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="items">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="item"/>
				<xs:element ref="item"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:ID"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="langmaterial">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="emph"/>
				<xs:element ref="lb"/>
				<xs:element ref="abbr"/>
				<xs:element ref="expan"/>
				<xs:element ref="ptr"/>
				<xs:element ref="extptr"/>
				<xs:element ref="ref"/>
				<xs:element ref="extref"/>
				<xs:element ref="bibref"/>
				<xs:element ref="title"/>
				<xs:element ref="archref"/>
				<xs:element ref="note"/>
				<xs:element ref="language"/>
			</xs:choice>
			<xs:attribute name="id" type="xs:ID"/>
			<xs:attribute name="ea" type="xs:NMTOKEN"/>
			<xs:attribute name="label" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="language">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="emph"/>
				<xs:element ref="lb"/>
				<xs:element ref="abbr"/>
				<xs:element ref="expan"/>
			</xs:choice>
			<xs:attribute name="id" type="xs:ID"/>
			<xs:attribute name="ea" type="xs:NMTOKEN"/>
			<xs:attribute name="languagecode" type="xs:NMTOKEN"/>
			<xs:attribute name="scriptcode" type="xs:NMTOKEN"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="languagedecl">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="language" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:ID"/>
			<xs:attribute name="ea" type="xs:NMTOKEN"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="lb">
		<xs:complexType/>
	</xs:element>
	<xs:element name="legalid">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="part"/>
				<xs:element ref="emph"/>
				<xs:element ref="lb"/>
				<xs:element ref="abbr"/>
				<xs:element ref="expan"/>
			</xs:choice>
			<xs:attribute name="id" type="xs:ID"/>
			<xs:attribute name="ea" type="xs:NMTOKEN"/>
			<xs:attribute name="type" type="xs:string"/>
			<xs:attribute name="typeauth" type="xs:IDREF"/>
			<xs:attribute name="typekey" type="xs:string"/>
			<xs:attribute name="valueauth" type="xs:IDREF"/>
			<xs:attribute name="valuekey" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="legalstatus">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="value"/>
				<xs:element ref="date" minOccurs="0"/>
				<xs:element ref="place" minOccurs="0"/>
				<xs:choice minOccurs="0" maxOccurs="unbounded">
					<xs:element ref="descnote"/>
					<xs:element ref="sourceref"/>
				</xs:choice>
			</xs:sequence>
			<xs:attribute name="id" type="xs:ID"/>
			<xs:attribute name="ea" type="xs:NMTOKEN"/>
			<xs:attribute name="type" type="xs:string"/>
			<xs:attribute name="typeauth" type="xs:IDREF"/>
			<xs:attribute name="typekey" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="list">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="head" minOccurs="0"/>
				<xs:choice>
					<xs:element ref="item" maxOccurs="unbounded"/>
					<xs:sequence>
						<xs:element ref="listhead" minOccurs="0"/>
						<xs:element ref="items" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:choice>
			</xs:sequence>
			<xs:attribute name="id" type="xs:ID"/>
			<xs:attribute name="type">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="simple"/>
						<xs:enumeration value="deflist"/>
						<xs:enumeration value="marked"/>
						<xs:enumeration value="ordered"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="mark" type="xs:string"/>
			<xs:attribute name="numeration">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="arabic"/>
						<xs:enumeration value="upperalpha"/>
						<xs:enumeration value="loweralpha"/>
						<xs:enumeration value="upperroman"/>
						<xs:enumeration value="lowerroman"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="continuation">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="continues"/>
						<xs:enumeration value="starts"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="listhead">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="head01" minOccurs="0"/>
				<xs:element ref="head02" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:ID"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="location">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="address" minOccurs="0"/>
				<xs:element ref="date" minOccurs="0"/>
				<xs:element ref="place" minOccurs="0"/>
				<xs:choice minOccurs="0" maxOccurs="unbounded">
					<xs:element ref="descnote"/>
					<xs:element ref="sourceref"/>
				</xs:choice>
			</xs:sequence>
			<xs:attribute name="id" type="xs:ID"/>
			<xs:attribute name="ea" type="xs:NMTOKEN"/>
			<xs:attribute name="type" type="xs:string"/>
			<xs:attribute name="typeauth" type="xs:IDREF"/>
			<xs:attribute name="typekey" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="locations">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="head" minOccurs="0"/>
				<xs:sequence>
					<xs:element ref="location" maxOccurs="unbounded"/>
					<xs:choice minOccurs="0" maxOccurs="unbounded">
						<xs:element ref="address"/>
						<xs:element ref="chronlist"/>
						<xs:element ref="list"/>
						<xs:element ref="table"/>
						<xs:element ref="blockquote"/>
						<xs:element ref="p"/>
					</xs:choice>
				</xs:sequence>
			</xs:sequence>
			<xs:attribute name="id" type="xs:ID"/>
			<xs:attribute name="ea" type="xs:NMTOKEN"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="maindate">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="emph"/>
				<xs:element ref="lb"/>
				<xs:element ref="abbr"/>
				<xs:element ref="expan"/>
			</xs:choice>
			<xs:attribute name="id" type="xs:ID"/>
			<xs:attribute name="ea" type="xs:NMTOKEN"/>
			<xs:attribute name="calendar" type="xs:string"/>
			<xs:attribute name="normal" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="maindesc">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="emph"/>
				<xs:element ref="lb"/>
				<xs:element ref="abbr"/>
				<xs:element ref="expan"/>
				<xs:element ref="ptr"/>
				<xs:element ref="extptr"/>
			</xs:choice>
			<xs:attribute name="id" type="xs:ID"/>
			<xs:attribute name="ea" type="xs:NMTOKEN"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="mainevent">
		<xs:complexType>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="name"/>
				<xs:element ref="maindate"/>
				<xs:element ref="maindesc"/>
			</xs:choice>
			<xs:attribute name="id" type="xs:ID"/>
			<xs:attribute name="ea" type="xs:NMTOKEN"/>
			<xs:attribute name="maintype" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="create"/>
						<xs:enumeration value="update"/>
						<xs:enumeration value="delete"/>
						<xs:enumeration value="import"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="mainhist">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="mainevent" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:ID"/>
			<xs:attribute name="ea" type="xs:NMTOKEN"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="materialspec">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="emph"/>
				<xs:element ref="lb"/>
				<xs:element ref="abbr"/>
				<xs:element ref="expan"/>
				<xs:element ref="ptr"/>
				<xs:element ref="extptr"/>
				<xs:element ref="ref"/>
				<xs:element ref="extref"/>
				<xs:element ref="bibref"/>
				<xs:element ref="title"/>
				<xs:element ref="archref"/>
				<xs:element ref="note"/>
				<xs:element ref="num"/>
				<xs:element ref="materialspec"/>
			</xs:choice>
			<xs:attribute name="id" type="xs:ID"/>
			<xs:attribute name="ea" type="xs:NMTOKEN"/>
			<xs:attribute name="type" type="xs:string"/>
			<xs:attribute name="label" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="musunit">
		<xs:complexType mixed="true">
			<xs:sequence minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="name"/>
				<xs:element ref="title"/>
				<xs:element ref="edition"/>
				<xs:element ref="imprint"/>
				<xs:element ref="bibseries"/>
				<xs:element ref="descnote"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:ID"/>
			<xs:attribute name="ea" type="xs:NMTOKEN"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="name">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="emph"/>
				<xs:element ref="lb"/>
				<xs:element ref="abbr"/>
				<xs:element ref="expan"/>
			</xs:choice>
			<xs:attribute name="id" type="xs:ID"/>
			<xs:attribute name="ea" type="xs:NMTOKEN"/>
			<xs:attribute name="type" type="xs:string"/>
			<xs:attribute name="typeauth" type="xs:IDREF"/>
			<xs:attribute name="typekey" type="xs:string"/>
			<xs:attribute name="valueauth" type="xs:IDREF"/>
			<xs:attribute name="valuekey" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="nameadd">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="emph"/>
				<xs:element ref="lb"/>
				<xs:element ref="abbr"/>
				<xs:element ref="expan"/>
			</xs:choice>
			<xs:attribute name="id" type="xs:ID"/>
			<xs:attribute name="ea" type="xs:NMTOKEN"/>
			<xs:attribute name="type" type="xs:string"/>
			<xs:attribute name="typeauth" type="xs:IDREF"/>
			<xs:attribute name="typekey" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="nameadds">
		<xs:complexType>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="place"/>
				<xs:element ref="existdate"/>
				<xs:element ref="nameadd"/>
			</xs:choice>
			<xs:attribute name="id" type="xs:ID"/>
			<xs:attribute name="ea" type="xs:NMTOKEN"/>
			<xs:attribute name="languagecode" type="xs:NMTOKEN"/>
			<xs:attribute name="scriptcode" type="xs:NMTOKEN"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="note">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="emph"/>
				<xs:element ref="lb"/>
				<xs:element ref="abbr"/>
				<xs:element ref="expan"/>
				<xs:element ref="ptr"/>
				<xs:element ref="extptr"/>
				<xs:element ref="corpname"/>
				<xs:element ref="famname"/>
				<xs:element ref="persname"/>
				<xs:element ref="funact"/>
				<xs:element ref="subject"/>
				<xs:element ref="genreform"/>
				<xs:element ref="date"/>
				<xs:element ref="num"/>
				<xs:element ref="place"/>
				<xs:element ref="ref"/>
				<xs:element ref="extref"/>
				<xs:element ref="bibref"/>
				<xs:element ref="title"/>
				<xs:element ref="archref"/>
				<xs:element ref="note"/>
				<xs:element ref="address"/>
				<xs:element ref="chronlist"/>
				<xs:element ref="list"/>
				<xs:element ref="table"/>
				<xs:element ref="blockquote"/>
			</xs:choice>
			<xs:attribute name="id" type="xs:ID"/>
			<xs:attribute name="type" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="num">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="emph"/>
				<xs:element ref="lb"/>
				<xs:element ref="abbr"/>
				<xs:element ref="expan"/>
			</xs:choice>
			<xs:attribute name="id" type="xs:ID"/>
			<xs:attribute name="ea" type="xs:NMTOKEN"/>
			<xs:attribute name="type" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="ocd">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="head" minOccurs="0"/>
				<xs:sequence>
					<xs:choice minOccurs="0" maxOccurs="unbounded">
						<xs:element ref="descentry"/>
					</xs:choice>
					<xs:choice minOccurs="0" maxOccurs="unbounded">
						<xs:element ref="address"/>
						<xs:element ref="chronlist"/>
						<xs:element ref="list"/>
						<xs:element ref="table"/>
						<xs:element ref="blockquote"/>
						<xs:element ref="p"/>
						<xs:element ref="ocd"/>
					</xs:choice>
				</xs:sequence>
			</xs:sequence>
			<xs:attribute name="id" type="xs:ID"/>
			<xs:attribute name="ea" type="xs:NMTOKEN"/>
			<xs:attribute name="type" type="xs:string"/>
			<xs:attribute name="typeauth" type="xs:IDREF"/>
			<xs:attribute name="typekey" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="origination">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="emph"/>
				<xs:element ref="lb"/>
				<xs:element ref="abbr"/>
				<xs:element ref="expan"/>
				<xs:element ref="ptr"/>
				<xs:element ref="extptr"/>
				<xs:element ref="ref"/>
				<xs:element ref="extref"/>
				<xs:element ref="bibref"/>
				<xs:element ref="title"/>
				<xs:element ref="archref"/>
				<xs:element ref="note"/>
				<xs:element ref="corpname"/>
				<xs:element ref="famname"/>
				<xs:element ref="name"/>
				<xs:element ref="persname"/>
			</xs:choice>
			<xs:attribute name="id" type="xs:ID"/>
			<xs:attribute name="ea" type="xs:NMTOKEN"/>
			<xs:attribute name="label" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="p">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="emph"/>
				<xs:element ref="lb"/>
				<xs:element ref="abbr"/>
				<xs:element ref="expan"/>
				<xs:element ref="ptr"/>
				<xs:element ref="extptr"/>
				<xs:element ref="corpname"/>
				<xs:element ref="famname"/>
				<xs:element ref="persname"/>
				<xs:element ref="funact"/>
				<xs:element ref="subject"/>
				<xs:element ref="genreform"/>
				<xs:element ref="date"/>
				<xs:element ref="num"/>
				<xs:element ref="place"/>
				<xs:element ref="ref"/>
				<xs:element ref="extref"/>
				<xs:element ref="bibref"/>
				<xs:element ref="title"/>
				<xs:element ref="archref"/>
				<xs:element ref="note"/>
				<xs:element ref="address"/>
				<xs:element ref="chronlist"/>
				<xs:element ref="list"/>
				<xs:element ref="table"/>
				<xs:element ref="blockquote"/>
			</xs:choice>
			<xs:attribute name="id" type="xs:ID"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="part">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="emph"/>
				<xs:element ref="lb"/>
				<xs:element ref="abbr"/>
				<xs:element ref="expan"/>
				<xs:element ref="ignore"/>
			</xs:choice>
			<xs:attribute name="id" type="xs:ID"/>
			<xs:attribute name="ea" type="xs:NMTOKEN"/>
			<xs:attribute name="type" type="xs:string"/>
			<xs:attribute name="typeauth" type="xs:IDREF"/>
			<xs:attribute name="typekey" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="persdesc">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="head" minOccurs="0"/>
				<xs:sequence>
					<xs:element ref="existdesc" minOccurs="0"/>
					<xs:choice minOccurs="0" maxOccurs="unbounded">
						<xs:element ref="legalstatus"/>
						<xs:element ref="sex"/>
						<xs:element ref="location"/>
						<xs:element ref="descentry"/>
					</xs:choice>
					<xs:choice minOccurs="0" maxOccurs="unbounded">
						<xs:element ref="locations"/>
						<xs:element ref="funactdesc"/>
						<xs:element ref="character"/>
						<xs:element ref="env"/>
						<xs:element ref="ocd"/>
					</xs:choice>
				</xs:sequence>
			</xs:sequence>
			<xs:attribute name="id" type="xs:ID"/>
			<xs:attribute name="ea" type="xs:NMTOKEN"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="persgrp">
		<xs:complexType>
			<xs:sequence>
				<xs:sequence>
					<xs:element ref="pershead"/>
					<xs:element ref="pershead" maxOccurs="unbounded"/>
				</xs:sequence>
				<xs:element ref="nameadds" minOccurs="0" maxOccurs="unbounded"/>
				<xs:choice minOccurs="0">
					<xs:element ref="sourceref"/>
					<xs:element ref="sourcerefs"/>
				</xs:choice>
				<xs:choice minOccurs="0">
					<xs:element ref="descnote"/>
					<xs:element ref="descnotes"/>
				</xs:choice>
			</xs:sequence>
			<xs:attribute name="id" type="xs:ID"/>
			<xs:attribute name="ea" type="xs:NMTOKEN"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="pershead">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="part" maxOccurs="unbounded"/>
				<xs:sequence>
					<xs:choice minOccurs="0" maxOccurs="unbounded">
						<xs:element ref="existdate"/>
						<xs:element ref="place"/>
						<xs:element ref="nameadd"/>
					</xs:choice>
					<xs:element ref="usedate" minOccurs="0"/>
					<xs:choice minOccurs="0">
						<xs:element ref="sourceref"/>
						<xs:element ref="sourcerefs"/>
					</xs:choice>
					<xs:choice minOccurs="0">
						<xs:element ref="descnote"/>
						<xs:element ref="descnotes"/>
					</xs:choice>
				</xs:sequence>
			</xs:sequence>
			<xs:attribute name="id" type="xs:ID"/>
			<xs:attribute name="ea" type="xs:NMTOKEN"/>
			<xs:attribute name="rule" type="xs:IDREF"/>
			<xs:attribute name="authorized" type="xs:string"/>
			<xs:attribute name="languagecode" type="xs:NMTOKEN"/>
			<xs:attribute name="scriptcode" type="xs:NMTOKEN"/>
			<xs:attribute name="type" type="xs:string"/>
			<xs:attribute name="typeauth" type="xs:IDREF"/>
			<xs:attribute name="typekey" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="persname">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="emph"/>
				<xs:element ref="lb"/>
				<xs:element ref="abbr"/>
				<xs:element ref="expan"/>
			</xs:choice>
			<xs:attribute name="id" type="xs:ID"/>
			<xs:attribute name="ea" type="xs:NMTOKEN"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="physdesc">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="emph"/>
				<xs:element ref="lb"/>
				<xs:element ref="abbr"/>
				<xs:element ref="expan"/>
				<xs:element ref="ptr"/>
				<xs:element ref="extptr"/>
				<xs:element ref="ref"/>
				<xs:element ref="extref"/>
				<xs:element ref="bibref"/>
				<xs:element ref="title"/>
				<xs:element ref="archref"/>
				<xs:element ref="note"/>
				<xs:element ref="dimensions"/>
				<xs:element ref="physfacet"/>
				<xs:element ref="extent"/>
				<xs:element ref="date"/>
				<xs:element ref="corpname"/>
				<xs:element ref="famname"/>
				<xs:element ref="persname"/>
				<xs:element ref="funact"/>
				<xs:element ref="subject"/>
				<xs:element ref="genreform"/>
			</xs:choice>
			<xs:attribute name="id" type="xs:ID"/>
			<xs:attribute name="ea" type="xs:NMTOKEN"/>
			<xs:attribute name="label" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="physfacet">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="emph"/>
				<xs:element ref="lb"/>
				<xs:element ref="abbr"/>
				<xs:element ref="expan"/>
				<xs:element ref="ptr"/>
				<xs:element ref="extptr"/>
				<xs:element ref="ref"/>
				<xs:element ref="extref"/>
				<xs:element ref="bibref"/>
				<xs:element ref="title"/>
				<xs:element ref="archref"/>
				<xs:element ref="note"/>
				<xs:element ref="corpname"/>
				<xs:element ref="famname"/>
				<xs:element ref="persname"/>
				<xs:element ref="funact"/>
				<xs:element ref="subject"/>
				<xs:element ref="genreform"/>
				<xs:element ref="date"/>
			</xs:choice>
			<xs:attribute name="id" type="xs:ID"/>
			<xs:attribute name="ea" type="xs:NMTOKEN"/>
			<xs:attribute name="type" type="xs:string"/>
			<xs:attribute name="unit" type="xs:string"/>
			<xs:attribute name="label" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="physloc">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="emph"/>
				<xs:element ref="lb"/>
				<xs:element ref="abbr"/>
				<xs:element ref="expan"/>
				<xs:element ref="ptr"/>
				<xs:element ref="extptr"/>
				<xs:element ref="ref"/>
				<xs:element ref="extref"/>
				<xs:element ref="bibref"/>
				<xs:element ref="title"/>
				<xs:element ref="archref"/>
				<xs:element ref="note"/>
			</xs:choice>
			<xs:attribute name="id" type="xs:ID"/>
			<xs:attribute name="ea" type="xs:NMTOKEN"/>
			<xs:attribute name="type" type="xs:string"/>
			<xs:attribute name="label" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="place">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="part"/>
				<xs:element ref="emph"/>
				<xs:element ref="lb"/>
				<xs:element ref="abbr"/>
				<xs:element ref="expan"/>
			</xs:choice>
			<xs:attribute name="id" type="xs:ID"/>
			<xs:attribute name="ea" type="xs:NMTOKEN"/>
			<xs:attribute name="placetype">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="geog"/>
						<xs:enumeration value="juris"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="normal" type="xs:string"/>
			<xs:attribute name="type" type="xs:string"/>
			<xs:attribute name="typeauth" type="xs:IDREF"/>
			<xs:attribute name="typekey" type="xs:string"/>
			<xs:attribute name="valueauth" type="xs:IDREF"/>
			<xs:attribute name="valuekey" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="ptr">
		<xs:complexType>
			<xs:attribute name="targetin" type="xs:IDREF"/>
			<xs:attribute name="linktype" fixed="simple">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="simple"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="href" type="xs:string"/>
			<xs:attribute name="role" type="xs:string"/>
			<xs:attribute name="arcrole" type="xs:string"/>
			<xs:attribute name="title" type="xs:string"/>
			<xs:attribute name="show">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="new"/>
						<xs:enumeration value="replace"/>
						<xs:enumeration value="embed"/>
						<xs:enumeration value="showother"/>
						<xs:enumeration value="shownone"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="actuate">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="onload"/>
						<xs:enumeration value="onrequest"/>
						<xs:enumeration value="actuateother"/>
						<xs:enumeration value="actuatenone"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="ea" type="xs:NMTOKEN"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="publisher">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="emph"/>
				<xs:element ref="lb"/>
				<xs:element ref="abbr"/>
				<xs:element ref="expan"/>
				<xs:element ref="ptr"/>
				<xs:element ref="extptr"/>
				<xs:element ref="ref"/>
				<xs:element ref="extref"/>
				<xs:element ref="bibref"/>
				<xs:element ref="title"/>
				<xs:element ref="archref"/>
				<xs:element ref="note"/>
			</xs:choice>
			<xs:attribute name="id" type="xs:ID"/>
			<xs:attribute name="ea" type="xs:NMTOKEN"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="ref">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="emph"/>
				<xs:element ref="lb"/>
				<xs:element ref="abbr"/>
				<xs:element ref="expan"/>
				<xs:element ref="ptr"/>
				<xs:element ref="extptr"/>
				<xs:element ref="corpname"/>
				<xs:element ref="famname"/>
				<xs:element ref="persname"/>
				<xs:element ref="funact"/>
				<xs:element ref="subject"/>
				<xs:element ref="genreform"/>
				<xs:element ref="date"/>
				<xs:element ref="num"/>
				<xs:element ref="place"/>
				<xs:element ref="address"/>
				<xs:element ref="chronlist"/>
				<xs:element ref="list"/>
				<xs:element ref="table"/>
				<xs:element ref="bibref"/>
				<xs:element ref="title"/>
				<xs:element ref="extref"/>
				<xs:element ref="archref"/>
			</xs:choice>
			<xs:attribute name="targetin" type="xs:IDREF"/>
			<xs:attribute name="linktype" fixed="simple">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="simple"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="href" type="xs:string"/>
			<xs:attribute name="role" type="xs:string"/>
			<xs:attribute name="arcrole" type="xs:string"/>
			<xs:attribute name="title" type="xs:string"/>
			<xs:attribute name="show">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="new"/>
						<xs:enumeration value="replace"/>
						<xs:enumeration value="embed"/>
						<xs:enumeration value="showother"/>
						<xs:enumeration value="shownone"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="actuate">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="onload"/>
						<xs:enumeration value="onrequest"/>
						<xs:enumeration value="actuateother"/>
						<xs:enumeration value="actuatenone"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="ea" type="xs:NMTOKEN"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="repository">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="emph"/>
				<xs:element ref="lb"/>
				<xs:element ref="abbr"/>
				<xs:element ref="expan"/>
				<xs:element ref="ptr"/>
				<xs:element ref="extptr"/>
				<xs:element ref="ref"/>
				<xs:element ref="extref"/>
				<xs:element ref="bibref"/>
				<xs:element ref="title"/>
				<xs:element ref="archref"/>
				<xs:element ref="note"/>
				<xs:element ref="address"/>
				<xs:element ref="corpname"/>
				<xs:element ref="name"/>
				<xs:element ref="subarea"/>
			</xs:choice>
			<xs:attribute name="id" type="xs:ID"/>
			<xs:attribute name="ea" type="xs:NMTOKEN"/>
			<xs:attribute name="label" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="resourcerel">
		<xs:complexType>
			<xs:sequence>
				<xs:choice>
					<xs:element ref="bibunit"/>
					<xs:element ref="archunit"/>
					<xs:element ref="musunit"/>
				</xs:choice>
				<xs:sequence>
					<xs:element ref="date" minOccurs="0"/>
					<xs:element ref="place" minOccurs="0"/>
					<xs:choice minOccurs="0">
						<xs:element ref="descnote"/>
						<xs:element ref="descnotes"/>
					</xs:choice>
					<xs:element ref="source" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:sequence>
			<xs:attribute name="id" type="xs:ID"/>
			<xs:attribute name="ea" type="xs:NMTOKEN"/>
			<xs:attribute name="reltype">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="origination"/>
						<xs:enumeration value="destruction"/>
						<xs:enumeration value="control"/>
						<xs:enumeration value="causa"/>
						<xs:enumeration value="subject"/>
						<xs:enumeration value="other"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="syskey" type="xs:string"/>
			<xs:attribute name="system" type="xs:ENTITY"/>
			<xs:attribute name="countrycode" type="xs:NMTOKEN"/>
			<xs:attribute name="ownercode" type="xs:NMTOKEN"/>
			<xs:attribute name="type" type="xs:string"/>
			<xs:attribute name="typeauth" type="xs:IDREF"/>
			<xs:attribute name="typekey" type="xs:string"/>
			<xs:attribute name="rule" type="xs:IDREF"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="resourcerels">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="head" minOccurs="0"/>
				<xs:element ref="resourcerel" maxOccurs="unbounded"/>
				<xs:choice minOccurs="0">
					<xs:element ref="sourceref"/>
					<xs:element ref="sourcerefs"/>
				</xs:choice>
				<xs:choice minOccurs="0">
					<xs:element ref="descnote"/>
					<xs:element ref="descnotes"/>
				</xs:choice>
			</xs:sequence>
			<xs:attribute name="id" type="xs:ID"/>
			<xs:attribute name="ea" type="xs:NMTOKEN"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="row">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="entry" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:ID"/>
			<xs:attribute name="rowsep" type="xs:NMTOKEN"/>
			<xs:attribute name="valign">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="top"/>
						<xs:enumeration value="middle"/>
						<xs:enumeration value="bottom"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="rule">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="emph"/>
				<xs:element ref="lb"/>
				<xs:element ref="abbr"/>
				<xs:element ref="expan"/>
			</xs:choice>
			<xs:attribute name="id" type="xs:ID"/>
			<xs:attribute name="ea" type="xs:NMTOKEN"/>
			<xs:attribute name="system" type="xs:ENTITY"/>
			<xs:attribute name="countrycode" type="xs:NMTOKEN"/>
			<xs:attribute name="ownercode" type="xs:NMTOKEN"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="ruledecl">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="rule" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:ID"/>
			<xs:attribute name="ea" type="xs:NMTOKEN"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="sex">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="value" minOccurs="0"/>
				<xs:element ref="date" minOccurs="0"/>
				<xs:element ref="place" minOccurs="0"/>
				<xs:choice minOccurs="0" maxOccurs="unbounded">
					<xs:element ref="descnote"/>
					<xs:element ref="sourceref"/>
				</xs:choice>
			</xs:sequence>
			<xs:attribute name="id" type="xs:ID"/>
			<xs:attribute name="ea" type="xs:NMTOKEN"/>
			<xs:attribute name="type" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="m"/>
						<xs:enumeration value="f"/>
						<xs:enumeration value="u"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="source">
		<xs:complexType mixed="true">
			<xs:sequence minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="name"/>
				<xs:element ref="title"/>
				<xs:element ref="edition"/>
				<xs:element ref="imprint"/>
				<xs:element ref="bibseries"/>
				<xs:element ref="descnote"/>
				<xs:element ref="sourceinfo"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:ID"/>
			<xs:attribute name="ea" type="xs:NMTOKEN"/>
			<xs:attribute name="syskey" type="xs:string"/>
			<xs:attribute name="system" type="xs:ENTITY"/>
			<xs:attribute name="countrycode" type="xs:NMTOKEN"/>
			<xs:attribute name="ownercode" type="xs:NMTOKEN"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="sourcedecl">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="source" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:ID"/>
			<xs:attribute name="ea" type="xs:NMTOKEN"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="sourceinfo">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="emph"/>
				<xs:element ref="lb"/>
				<xs:element ref="abbr"/>
				<xs:element ref="expan"/>
				<xs:element ref="ptr"/>
				<xs:element ref="extptr"/>
				<xs:element ref="corpname"/>
				<xs:element ref="famname"/>
				<xs:element ref="persname"/>
				<xs:element ref="funact"/>
				<xs:element ref="subject"/>
				<xs:element ref="genreform"/>
				<xs:element ref="date"/>
				<xs:element ref="num"/>
				<xs:element ref="place"/>
				<xs:element ref="ref"/>
				<xs:element ref="extref"/>
				<xs:element ref="bibref"/>
				<xs:element ref="title"/>
				<xs:element ref="archref"/>
				<xs:element ref="note"/>
				<xs:element ref="address"/>
				<xs:element ref="chronlist"/>
				<xs:element ref="list"/>
				<xs:element ref="table"/>
				<xs:element ref="blockquote"/>
			</xs:choice>
			<xs:attribute name="id" type="xs:ID"/>
			<xs:attribute name="ea" type="xs:NMTOKEN"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="sourceref">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="emph"/>
				<xs:element ref="lb"/>
				<xs:element ref="abbr"/>
				<xs:element ref="expan"/>
				<xs:element ref="sourceinfo"/>
			</xs:choice>
			<xs:attribute name="id" type="xs:ID"/>
			<xs:attribute name="ea" type="xs:NMTOKEN"/>
			<xs:attribute name="sourceref" type="xs:IDREF"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="sourcerefs">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="head" minOccurs="0"/>
				<xs:element ref="sourceref"/>
				<xs:element ref="sourceref" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:ID"/>
			<xs:attribute name="ea" type="xs:NMTOKEN"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="subarea">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="emph"/>
				<xs:element ref="lb"/>
				<xs:element ref="abbr"/>
				<xs:element ref="expan"/>
				<xs:element ref="ptr"/>
				<xs:element ref="extptr"/>
				<xs:element ref="ref"/>
				<xs:element ref="extref"/>
				<xs:element ref="bibref"/>
				<xs:element ref="title"/>
				<xs:element ref="archref"/>
				<xs:element ref="note"/>
			</xs:choice>
			<xs:attribute name="id" type="xs:ID"/>
			<xs:attribute name="ea" type="xs:NMTOKEN"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="subject">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="ignore"/>
				<xs:element ref="part"/>
				<xs:element ref="emph"/>
				<xs:element ref="lb"/>
				<xs:element ref="abbr"/>
				<xs:element ref="expan"/>
			</xs:choice>
			<xs:attribute name="id" type="xs:ID"/>
			<xs:attribute name="ea" type="xs:NMTOKEN"/>
			<xs:attribute name="type" type="xs:string"/>
			<xs:attribute name="typeauth" type="xs:IDREF"/>
			<xs:attribute name="typekey" type="xs:string"/>
			<xs:attribute name="valueauth" type="xs:IDREF"/>
			<xs:attribute name="valuekey" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="table">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="head" minOccurs="0"/>
				<xs:element ref="tgroup" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:ID"/>
			<xs:attribute name="frame">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="top"/>
						<xs:enumeration value="bottom"/>
						<xs:enumeration value="topbot"/>
						<xs:enumeration value="all"/>
						<xs:enumeration value="sides"/>
						<xs:enumeration value="none"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="colsep" type="xs:NMTOKEN"/>
			<xs:attribute name="rowsep" type="xs:NMTOKEN"/>
			<xs:attribute name="pgwide" type="xs:NMTOKEN"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="tbody">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="row" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:ID"/>
			<xs:attribute name="valign">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="top"/>
						<xs:enumeration value="middle"/>
						<xs:enumeration value="bottom"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="tgroup">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="colspec" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="thead" minOccurs="0"/>
				<xs:element ref="tbody"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:ID"/>
			<xs:attribute name="cols" type="xs:NMTOKEN" use="required"/>
			<xs:attribute name="colsep" type="xs:NMTOKEN"/>
			<xs:attribute name="rowsep" type="xs:NMTOKEN"/>
			<xs:attribute name="align">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="left"/>
						<xs:enumeration value="right"/>
						<xs:enumeration value="center"/>
						<xs:enumeration value="justify"/>
						<xs:enumeration value="char"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="thead">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="row" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:ID"/>
			<xs:attribute name="valign">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="top"/>
						<xs:enumeration value="middle"/>
						<xs:enumeration value="bottom"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="title">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="emph"/>
				<xs:element ref="lb"/>
				<xs:element ref="abbr"/>
				<xs:element ref="expan"/>
				<xs:element ref="date"/>
				<xs:element ref="num"/>
			</xs:choice>
			<xs:attribute name="id" type="xs:ID"/>
			<xs:attribute name="ea" type="xs:NMTOKEN"/>
			<xs:attribute name="render">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="bold"/>
						<xs:enumeration value="italic"/>
						<xs:enumeration value="bolditalic"/>
						<xs:enumeration value="boldunderline"/>
						<xs:enumeration value="boldsmcaps"/>
						<xs:enumeration value="boldquoted"/>
						<xs:enumeration value="nonproport"/>
						<xs:enumeration value="altrender"/>
						<xs:enumeration value="quoted"/>
						<xs:enumeration value="smcaps"/>
						<xs:enumeration value="sub"/>
						<xs:enumeration value="super"/>
						<xs:enumeration value="underline"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="targetout" type="xs:ENTITY"/>
			<xs:attribute name="linktype" fixed="simple">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="simple"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="href" type="xs:string"/>
			<xs:attribute name="role" type="xs:string"/>
			<xs:attribute name="arcrole" type="xs:string"/>
			<xs:attribute name="title" type="xs:string"/>
			<xs:attribute name="show">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="new"/>
						<xs:enumeration value="replace"/>
						<xs:enumeration value="embed"/>
						<xs:enumeration value="showother"/>
						<xs:enumeration value="shownone"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="actuate">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="onload"/>
						<xs:enumeration value="onrequest"/>
						<xs:enumeration value="actuateother"/>
						<xs:enumeration value="actuatenone"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="unitdate">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="emph"/>
				<xs:element ref="lb"/>
				<xs:element ref="abbr"/>
				<xs:element ref="expan"/>
				<xs:element ref="ptr"/>
				<xs:element ref="extptr"/>
				<xs:element ref="ref"/>
				<xs:element ref="extref"/>
				<xs:element ref="bibref"/>
				<xs:element ref="title"/>
				<xs:element ref="archref"/>
				<xs:element ref="note"/>
			</xs:choice>
			<xs:attribute name="id" type="xs:ID"/>
			<xs:attribute name="ea" type="xs:NMTOKEN"/>
			<xs:attribute name="scope">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="begin"/>
						<xs:enumeration value="end"/>
						<xs:enumeration value="active"/>
						<xs:enumeration value="begin-end"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="form">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="single"/>
						<xs:enumeration value="closedspan"/>
						<xs:enumeration value="openspan"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="era" type="xs:string"/>
			<xs:attribute name="calendar" type="xs:string"/>
			<xs:attribute name="normal" type="xs:string"/>
			<xs:attribute name="type">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="bulk"/>
						<xs:enumeration value="inclusive"/>
						<xs:enumeration value="single"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="label" type="xs:string"/>
			<xs:attribute name="datechar" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="unitid">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="emph"/>
				<xs:element ref="lb"/>
				<xs:element ref="abbr"/>
				<xs:element ref="expan"/>
				<xs:element ref="ptr"/>
				<xs:element ref="extptr"/>
				<xs:element ref="ref"/>
				<xs:element ref="extref"/>
				<xs:element ref="bibref"/>
				<xs:element ref="title"/>
				<xs:element ref="archref"/>
				<xs:element ref="note"/>
			</xs:choice>
			<xs:attribute name="id" type="xs:ID"/>
			<xs:attribute name="ea" type="xs:NMTOKEN"/>
			<xs:attribute name="syskey" type="xs:string"/>
			<xs:attribute name="system" type="xs:ENTITY"/>
			<xs:attribute name="countrycode" type="xs:NMTOKEN"/>
			<xs:attribute name="ownercode" type="xs:NMTOKEN"/>
			<xs:attribute name="type" type="xs:string"/>
			<xs:attribute name="label" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="unittitle">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="emph"/>
				<xs:element ref="lb"/>
				<xs:element ref="abbr"/>
				<xs:element ref="expan"/>
				<xs:element ref="ptr"/>
				<xs:element ref="extptr"/>
				<xs:element ref="ref"/>
				<xs:element ref="extref"/>
				<xs:element ref="bibref"/>
				<xs:element ref="title"/>
				<xs:element ref="archref"/>
				<xs:element ref="note"/>
				<xs:element ref="corpname"/>
				<xs:element ref="famname"/>
				<xs:element ref="persname"/>
				<xs:element ref="funact"/>
				<xs:element ref="subject"/>
				<xs:element ref="genreform"/>
				<xs:element ref="unitdate"/>
				<xs:element ref="num"/>
				<xs:element ref="date"/>
				<xs:element ref="bibseries"/>
				<xs:element ref="edition"/>
				<xs:element ref="imprint"/>
			</xs:choice>
			<xs:attribute name="id" type="xs:ID"/>
			<xs:attribute name="ea" type="xs:NMTOKEN"/>
			<xs:attribute name="type" type="xs:string"/>
			<xs:attribute name="label" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="usedate">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="emph"/>
				<xs:element ref="lb"/>
				<xs:element ref="abbr"/>
				<xs:element ref="expan"/>
				<xs:element ref="altdate"/>
			</xs:choice>
			<xs:attribute name="id" type="xs:ID"/>
			<xs:attribute name="ea" type="xs:NMTOKEN"/>
			<xs:attribute name="scope">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="begin"/>
						<xs:enumeration value="end"/>
						<xs:enumeration value="active"/>
						<xs:enumeration value="begin-end"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="form">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="single"/>
						<xs:enumeration value="closedspan"/>
						<xs:enumeration value="openspan"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="era" type="xs:string"/>
			<xs:attribute name="calendar" type="xs:string"/>
			<xs:attribute name="normal" type="xs:string"/>
			<xs:attribute name="type" type="xs:string"/>
			<xs:attribute name="typeauth" type="xs:IDREF"/>
			<xs:attribute name="typekey" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="value">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="emph"/>
				<xs:element ref="lb"/>
				<xs:element ref="abbr"/>
				<xs:element ref="expan"/>
			</xs:choice>
			<xs:attribute name="id" type="xs:ID"/>
			<xs:attribute name="ea" type="xs:NMTOKEN"/>
			<xs:attribute name="valueauth" type="xs:IDREF"/>
			<xs:attribute name="valuekey" type="xs:string"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
